@model IEnumerable<WarehouseSystem.UI.Models.ManufacturerViewList>

@{
    ViewBag.Title = "Manufacturers";
}

<h2>Manufacturers</h2>
<hr />
<div class="form-group">
    <input type="button" class="btn btn-default" value="Add" onclick="location.href=location.href='@Url.Action("Edit", "Manufacturer")'" />
</div>

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tittle)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tittle)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id })
            </td>
        </tr>
    }

</table>